
<nav class="indigo darken-4">

    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo ">Placards</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger ">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/placards">Public placards</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
        
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/placards">Public placards</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
    
    </nav>



