<h3>Add Placard</h3>
<div class="row">
    <form action="/placards" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Write your notice here:</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="save" class="btn green accent-4">
            <a href="/dashboard" class="btn red">Cancel</a>
        </div>
    </form>
</div>